{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "semi": true,
  "proseWrap": "preserve",
  "useTabs": false,
  "arrowParens": "avoid"
}
